.banner {
    width: 100%;
    height: 577px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-slider {
    height: 457px;
    width: 1170px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, 
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.banner-slider .banner-slides {
    display: flex;
    width: 500%;
    height: 457px;
}

.banner-slider .banner-slides input {
    display: none;
}

.banner-slide {
    transition: 1s;
}

.banner-slide img {
    width: 1170px;
    height: 457px;
}

.auto-slide {
    position: absolute;
    margin-top: 487px;
    width: 1170px;
    display: flex;
    justify-content: center;
}

.auto-slide .auto-btn {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: rgba(228, 228, 228, 0.22);
    cursor: pointer;
    outline: none;
    border-style: none;
    transition: 0.5s;
}

.auto-slide button:not(:last-child) {
    margin-right: 0.5rem;
}

.auto-slide .auto-btn.active {
    background: rgba(250, 211, 6, 1);
    width: 42px;
}